@* @{
    ViewData["Title"] = "Books";
}
<h1 >Welcome to book store</h1>

<h3 class="text-info">To Know more about access</h3>
<h4><button class="nav-link text-warning" asp-area="" asp-controller="Books" asp-action="Index">Here</button></h4>
 *@